.header {
  background-color: blueviolet;
  
  color: whitesmoke;
  text-align: center;
  font-family: fantasy;
  font-size: xx-large;
  
}

.div1 {
  /*Any div1 css here*/
}

.div2 {
  /*Any div2 css here*/
}

.div3 {
  /*Any div3 css here*/
}

.footer {
  /*Any footer css here*/
}
