.header {
  //Any header css here
}

.div1 {
  //Any div1 css here
}

.div2 {
  //Any div2 css here
}

.div3 {
  //Any div3 css here
}

.footer {
  background-color: #510c76; // Copied off stthomas.edu footer
}

.footer p {
  color: #f5f5f5; // Copied off stthomas.edu footer
  display: inline-block;
  white-space: pre-line;
  font-family: Arial, sans-serif;
}

.footer ul {
  list-style-type: none;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.footer a {
  color: #f5f5f5;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
}

.footer a:hover {
  color: #126195; // Copied off stthomas.edu footer
  cursor: pointer;
  text-decoration: underline;
}

.footer a:active {
  color: #126195;
}

.footer div {
  display: inline-block;
  padding-left: 16vw;
}
